/node_modules/
/.cache/
/.cacache/
/public/
.twstyled-cache/tokens
/.lighthouseci
tokens
/storybook-static
**/i18n/*/messages.js
**/i18n/*/dynamic.js
/yarn-error.log
.gatsby-plugin-brotli-snapshot.txt
/.vscode/.history

/test-results.json
/test-results
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions


/src/config/siteMetaData.ts
/build.log

/coverage
/dist
.parcel-cache